@import url(hojaCentral.css);
/*
       ^^Contiene:
            Banderas
            Error
            Vinculos
            Botones 
            Fondo
    */
/*TEXTO*/
.textoLink {
    font-family:Helvetica;
    color:rgb(94, 81, 81);
    font-size: 12px;
}
.titulos {
    font-family:Helvetica;
    color: #221717bb;
    font-size: 27px;
}

.formularioEntrada {
    background-color: transparent;
    border-top-color: transparent;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:rgb(165, 159, 159);
    position: relative;
    margin-top:20px;
}
