.botones {
    border-radius: 10px;
    border:0px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-family:'Helvetica';
}

.barraNavegacion {
    background-color: rgb(255, 7, 7);
    width: 250px;
}