@import url(hojaCentral.css);
    /*
       ^^Contiene:
            Banderas
            Error
            Vinculos
            Botones 
            Fondo
    */
/*ARREGLOS*/
.botones{
    margin-top: 20px;
}
/*MARCO CENTRAL*/
.marcoCentral {
    height: 410px;
}
.formularioEntrada {
    background-color: transparent;
    border-top-color: transparent;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:rgb(165, 159, 159);
    position: relative;
    margin-top:15px;
}
.columnasDobles {
    width: 200px;
}
.titulos {
    font-family:Helvetica;
    color:rgb(114, 102, 102);
    text-align: center;
    font-size: 27px;
}
