/*CUERPO*/
.fondo {
    background: linear-gradient(
        50deg,
        #f0ebebb2,
        #a38080bb
        );
    position: fixed; 
    top: 0; left: 0; 
    width: 100%; height: 100%; 
    z-index: -10;
}
/*PEQUEÑOS ELEMENTOS*/
.titulos {
    font-family:Helvetica;
    color:rgb(114, 102, 102);
    text-align: center;
    font-size: 27px;
}
.informacion {
    font-size: 15px;
    font-family:Helvetica;
    color:rgb(133, 118, 118);
}
.banderas {
    height: 15px;
    width: 15px;
}
.error {
    margin-top: 150px;
    text-align: center;
}
.divErrores {
    text-align: left;
    margin-left: 15px;
}
.errores {
    font-size: 14px;
}
.vinculos {
    text-decoration: none;
    color: black;
}
.botonesIdioma {
    border-radius: 10px;
    border:0px;
    margin-top: 5px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-family:'Helvetica';
}
.botones {
    border-radius: 10px;
    border:0px;
    margin-top: 5px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-family:'Helvetica';
}
.marcoCentral {
    background-color: #f7eaead3;
    text-align: center;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px 5px #746e6e5e;
}