@import url(hojaCentral.css);
/*
       ^^Contiene:
            Banderas
            Error
            Vinculos
            Botones 
            Fondo
    */

/*TEXTO*/
.textoLink {
    font-family:Helvetica;
    color:rgb(94, 81, 81);
    font-size: 12px;
}
.titulos {
    font-family:Helvetica;
    color: #221717bb;
    font-size: 27px;
}

.formularioEntrada {
    background-color: transparent;
    border-top-color: transparent;
    border-left-color:transparent;
    border-right-color: transparent;
    border-bottom-color:rgb(165, 159, 159);
    position: relative;
    margin-top:20px;
}
.animacionIcono {
    margin-top: -150px;
    margin-left: 45%;
    width: 100px;
}
.animacionIcono {
    animation: iconoBajando 5s linear forwards; 
}

@keyframes iconoBajando {
    0% {
        transform: translateX(0) translateY(0);
    }
    10% {
        transform: translateX(10vh) translateY(10vh);
    }
    20% {
        transform: translateX(-10vh) translateY(20vh);
    }
    30% {
        transform: translateX(10vh) translateY(35vh);
    }
    40% {
        transform: translateX(-10vh) translateY(50vh);
    }
    50% {
        transform: rotateY(180deg) translateX(10vh) translateY(50vh);
    }
    60% {
        transform: translateX(10vh) translateY(50vh);
    } 
    70% {
        transform: translateX(-10vh) translateY(50vh);
    }
    100% {
        transform: scale(200);
        opacity: 0;
        display: none;
    }
}

body::-webkit-scrollbar {
    display: none;
  }