@import url(hojaCentral.css);
body {
    width: 98%;
    height: 100%;
    background: linear-gradient(
        50deg,
        #f0ebebb2,
        #a38080bb
        );
        /*min-height: 848px;
        min-width: 600px;*/
}

@media (max-height: 866px) {
    body {
        min-height: none;
    }

    .barraNavegacion {
        height: 870px !important;
    }

    .publicaciones {
        height: 432px !important;
    }

    .matching {
        height: fit-content !important;
        margin-bottom: 5px !important;
    }

    body::-webkit-scrollbar {
        width: 15px;
        
    }
    
    body::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0);
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: rgba(128, 128, 128, 0.739);
        border-radius: 10px;
    }
}


@media (max-width: 600px) {
    

}

#contenidoPrincipal{
    position: absolute;
    top: 10px;
    /*background-color: red;*/
}
#contenedorIframe{
    position: absolute;
    z-index: 200;
    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
}
.textoBoton {
    position: absolute;
    padding-top: 4px;
}
hr {
    background-color: rgba(128, 84, 84, 0.173);
    box-shadow: 0 0 2px 0 #746e6e5e;
}
@media (min-width: 1200px) {
    .barraNavegacion{
        width: 240px !important;
        padding-right: 1%;
        height: 98%;
    }
    .iconoPequeño {
        display: none;
    }
    #contenidoPrincipal{
        position: absolute;
        left: 270px;
        margin-top: 0px;
        /*margin-left: 290px;*/
        margin-left: 4%;
        width: 72%;
        height: 98%;
        margin-right: 3%;
        
    }
}
@media (max-width: 1200px) {
    .tituloNavegación {
        display: none;
    }
    .iconoGrande{
        display:none;
    }
    .textoBoton {
        display: none;
    }
    .informacion{
        display: none;
    }
    hr {
        width: 80%;
        margin-left: -0.5px;
    }
    .botonNavPerfil {
        width: 80% !important;
    }

    .botonNavPerfil:hover {
        width: 270px !important;
        background-color: rgba(209, 201, 201, 0.839);
        z-index: 110 !important;
    }

    /*.botonNavPerfil:hover + .textoBoton{
        display:unset;
        background-color: red;
        margin-left: -450px;
    }*/
    .botonNavPerfil:hover .textoBoton {
        display: unset; 
        margin-left: 40px;
        width: 200px;
        z-index: 111 !important;
    }

    .botonNavPerfil:hover .informacion {
        display: unset; 
        margin-left: 140px !important; 
        margin-top: 2px !important;
    }

    .iconoPequeño {
        display: unset;
        position: absolute;
        width: 90%;
        margin-top: -55px;
        margin-left: -5px;
    }
    .barraNavegacion{
        width: 50px !important;
        padding-top: 60px;
}
    #contenidoPrincipal{
        height: 95%;
        margin-left: 9%;
        margin-right: 1%;
        width: 90%;
        /*background-color: blue;*/
    }
}
.tituloNavegación{
    font-family: Arial, Helvetica, sans-serif;
    color: #3c3633de;
    font-size: 20px;
}

.barraNavegacion {
    position: absolute;
    height: 97.5%;
    /*border-left: 2px solid transparent; 
      border-right: 2px solid #9e8d8581; 
      border-top: 2px solid transparent; 
      border-bottom: 2px solid transparent;*/
    width: 22%;
    z-index: 1;
    padding-left: 10px;
    background-color: #f9f9f954;
    box-shadow: 0 0 5px 5px #746e6e5e;
    border-radius: 15px;
}

.botonNavPerfil {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(155, 119, 119);
    border-radius: 10px;
    margin-top: 2px;
    width: 240px; 
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: left;
    background-color: transparent;
    border-color: transparent;
}

.botonNavPerfil:hover{
    background-color: rgba(223, 216, 216, 0.454);
}

#iconosNav {
    margin-right: 7px;
    height: 25px;
}

/*.barraBusqueda {
    padding: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 210px;
}

#lupa {
    background-size: contain;
    background-repeat: no-repeat;
    border: transparent;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    padding-top: 2px;
}

#buscar {
    padding-left: 5px;
    background-color: rgb(234, 230, 230);
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

#buscar:hover {
    background-color: rgb(221, 221, 221);
}*/

#informacion {
    position: absolute;
    margin-top: -33px;
    margin-left: 170px;
    font-size: 20px;
    color: rgb(84, 67, 67);
}

#banner{
    width: 100%;
    margin: 0 auto;
    height: 340px;
    mask-image: radial-gradient(circle at center, black 0%, transparent 98%);
    
}



#pfp {
    position: relative;
    z-index: 100;
    margin-top: -180px;
    margin-bottom: 10px;
    margin-left: 8px;
    width: 12%;
    height: 12%;
    border-radius: 200px;
    border: 7px solid white

}

.nombreApellidos {
    z-index: 20;
    position: absolute;
    margin-top: -145px;
    margin-left: 22.4%;
    font-size: 28px;
    background-color: #f9f9f986;
    box-shadow: 0 0 5px 5px #746e6e48;
    border-radius: 10px;
    padding: 5px;
}

.username {
    z-index: 20;
    background-color: red;
    position: absolute;
    margin-top: -90px;
    margin-left: 22.4%;
    font-size: 18px;
    background-color: #f9f9f986;
    box-shadow: 0 0 5px 5px #746e6e48;
    border-radius: 10px;
    padding: 5px;
}
#descripcion {
    position: absolute;
    width: 47%;
    margin-left: 22.6%;
    margin-top: -40px;
    font-size: 16px;
    background-color: #f9f9f954;
    box-shadow: 0 0 5px 5px #746e6e48;
    border-radius: 10px;
    height: 75px;
    padding: 5px;
}
.tagsDivPerfil {
    background-color: #f9f9f954;
    box-shadow: 0 0 5px 5px #746e6e48;
    border-radius: 10px;
    position: absolute;
    width: 26.5%;
    height: 75px;
    right: 0;
    margin-top: -40px;
    padding: 5px;
}
.tagsPerfil {
    font-size: 15px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    border-radius: 9px;
    margin: 3px;
    background-color: rgba(255, 0, 0, 0.397);
    box-shadow: 0 0 5px 5px #746e6e48;
}
#redesSociales {
    background-color: #f9f9f954;
    box-shadow: 0 0 5px 5px #746e6e48;
    border-radius: 10px;
    position: absolute;
    margin-top: 2px;
    width: 19%;
    height: 35px;
    padding: 5px;
    margin-left: 8px;
}
/* MATCHING */
.matching {
    position: absolute;
    right: 0;
    margin-top: 70px;
    padding-bottom: 2%;
    width: 27%;
    /*height: 56.5%;*/
    margin-bottom: 10px;
    background-color: #f9f9f954;
    box-shadow: 0 0 5px 5px #746e6e48;
    border-radius: 10px;
    text-align: center;
    border-right: 2px solid transparent; 
      border-left: 2px solid #9e8d8581; 
      border-top: 2px solid transparent; 
      border-bottom: 2px solid transparent;
}

.matching h1 {
    margin-top: 8px;
    margin-bottom: 4px;
}
.botonPerfilMatching {
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 3px;
}

.botonPerfilMatching:hover {
    background-color: rgba(227, 227, 227, 0.454);
}
.perfilesMatching {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 8px;
    padding-bottom: 5px;
    margin: 0px -6px;
}

.filaPost {
    display: flex; 
    text-align: left;
    margin-top: -10px;
}

.filaMatching {
    display: flex; 
    text-align: left;
}

.pfpMatching {
    width: 30%;
    height: 30%;
    border-radius: 100px;
    margin-right: 10px;
    margin-bottom: 8px; 
    margin-top: 8px;
}

.nombreMatching {
    font-size: 120%;
    width: 65%;
    word-wrap: break-word;
    margin-top: 8px;
}

.usernameMatching {
    font-size: 90%;
    width: 54%;
    position: absolute;
    margin-top: 5px;
    font-weight: 120;
    margin-left: 15px;
}

.tagsDivMatching {
    width: 97%;
}

.tagsMatching {
    display: inline-block;
    padding: 2px 5px 2px 5px;
    border-radius: 9px;
    margin: 1px;
    background-color: rgba(255, 0, 0, 0.397);
}
.iconoGrande {
    width: auto;
    margin-left: 30px;
    height: 100px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.publicaciones {
    background-color: #f9f9f954;
    box-shadow: 0 0 5px 5px #746e6e48;
    border-radius: 10px;
    width: 70%;
    margin-top: 70px;
    margin-left: 8px;
    overflow:scroll;
    overflow-x: hidden;
}

.publicaciones::-webkit-scrollbar {
    width: 5px;
    
}

.publicaciones::-webkit-scrollbar-track {
    background-color: transparent; 
    margin-top: 8px;
    margin-bottom: 8px;
}

.publicaciones::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.739);
    border-radius: 10px;
}

@media (min-width: 866px) {
    .publicaciones {
        height: calc(100% - 445px);  
    }
}
/* PUBLICACIONES*/
.publicacion {
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 2%;
    display: flex;
}

.publicacion:hover {
    background-color: rgba(227, 227, 227, 0.454);
}
.fotoPublicacion {
    width: 30%;
    margin-top: 15px;
    margin-left: 2%;
    margin-bottom: 3%;
}

.textoPublicacion {
    width: 60%;
    margin-left: 2%;
    font-size: 120%;
}

.meGustaBoton {
    font-size: 25px;
    width: 50px;
    height: auto;
    padding-bottom: 20px;
    margin: 5px;
    background-color: transparent;
    border-color: transparent;
}

